<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiletrain.qqmusic">

    <uses-permission android:songname="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:songname=".MainActivity">
            <intent-filter>
                <action android:songname="android.intent.action.MAIN" />

                <category android:songname="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>